.new-product {
  width: 100%;

  &__title {
    color: gray;
    font-size: 20px;
  }

  &__header,
  &__content {
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 15px;
    }
  }
}
