.table {
  width: 100%;
  overflow-x: auto;
  display: block;
  border-collapse: collapse;

  .cellWrapper {
    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 15px;
    }
  }

  .tableCell{
    text-align: center;
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
  }
}
